.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
}
.input--default {
  box-sizing: border-box;
  padding: 30px;
  height: 80px;
  width: 100%;
}

.app__bottom {
  display: flex;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
